form {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin-left: 85px;
}

.input{

    height: 50px;
    width: 200px;
    margin-bottom: 5px;
    
}

.text {
    height: 50px;
    width: 200px;
    margin-top: 5px;
    
}

.btn{
    height: 35px;
    width: 130px;
    margin-top: 5px;
}
