

.mdl-layout__header {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  /* background-color: rgb(190, 203, 211); */
  /* color: rgb(255,255,255); */
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: max-height, -webkit-box-shadow;
  transition-property: max-height, -webkit-box-shadow;
  -o-transition-property: max-height, box-shadow;
  transition-property: max-height, box-shadow;
  transition-property: max-height, box-shadow, -webkit-box-shadow;
}
.header-color {
  background: #525957;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  /* background: #ddd5e2;*/  /*fallback for old browsers */
  /* background-image: url('./components/img/port-splash.jpg'); */
  /* background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  /* object-fit: scale-down; */
  width: 100%;
  height: 100%;
  
}

.projects-grid {
  display: flex;
 
}

Page .demo-card-wide{
  width: 800px;
}


.btn{
  margin: 10px;
  text-decoration: none;
}
/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  display: block;
  padding: 2em;
}

.fas {
  margin: 10px;
  font-size: 600%;
}
.fab {
  margin: 10px;
  font-size: 600%;
}

/* contact page css */

.contact-body {
  margin-top: 100px;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: rgb(235, 212, 212,0.833);
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


/* contact page css */

.photo-img {
  position: relative;
  width: 200px;
  height: 200px;

  overflow: hidden;
  border-radius: 50%;
}

.banner-text {

  background-color: rgba(235, 225, 228, 0.952);
  opacity: .8;
  width: 75%;
  margin-top: 200px;
  margin-left: 150px;
  border-radius: 10px;
}

.banner-text h1 {
  margin-top: 100px;
  font-size: 66px;
  font-weight: bold;
  color: rgb(43, 36, 36);
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: rgb(43, 36, 36);
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(219, 197, 197);
  color: rgb(173, 147, 147);
  text-align: center;
}

.social-links icon {
  color: rgb(22, 10, 10);
  height: 50px;
  font-size: 5em;
  padding: 8px;
}


